*{
  border: 0;
  margin: 0;
  font-family: Inter,sans-serif;
  text-decoration: none;
}


html{
  width: 100vw;
  height: 100vh;
  background-color: #FFFAFA;
}

nav{

  display: flex;
  align-items: center;
  flex-direction: row;
  /*border: 2px solid crimson;*/
  font-weight: 200;
  font-size: 24px;
  color: #011840;
  width: auto;
  height: 115px;
  background-color: #fbf8f8;
  gap: 5px;
  padding: 0 55px;

}

#bibby-logo{
  letter-spacing: 2px;
  font-weight: 400;

}

/*#bibby-logo::first-letter{*/
/*  margin-left: 30px;*/
/*  font-weight: 800;*/
/*  font-size: 64px;*/
/*  color:#00296B;*/

/*}*/


.bibby-mark{
  width: 50px;
}

#nav-items{
  /*border: 1px solid crimson;*/
  flex: 1;
  width: auto;
  font-size: 16px;
  font-weight: 375;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
  padding: 0;
}

#nav-items > li:hover{
  color: #494949;
  cursor: pointer;
}

#nav-items > li:active{
  color: #121212;
}

#sign-in-btn{

}
.btn{
  text-align: center;
  width: 50px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  background-color: #00296B;
  color: whitesmoke;
  border-radius: 5px;
}

.btn:active{

  background-color: #011840;
}

.btn:hover{
  font-weight: 500;
  cursor: pointer;
}

.dark-mode{
  background-color: #121212;
  color: #000000;
}

/*Search */
.search-page{
  /*border: 2px solid crimson;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFAFA;
  width: auto;
}

.page-title{
  color: #00296B;
  font-weight: 150;
  letter-spacing: 5px;
  font-size: 32px;
  margin-top: 125px;
}

a:visited{
  color: inherit;
}