*{
  border: 0;
  margin: 0;
  font-family: Inter,sans-serif;
  text-decoration: none;
}

html{
  height: 100vh;
  width: 100vw;
  background-color: #FFFAFA;
}

nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  /*border: 2px solid crimson;*/
  font-weight: 200;
  font-size: 24px;
  color: black;
  width: 100%;
  height: 115px;
  background-color: #fbf8f8;

}

#bibby-logo{
  letter-spacing: 2px;
}

#bibby-logo::first-letter{
  margin-left: 30px;
  font-weight: 800;
  font-size: 64px;
  color:#00296B;

}


#nav-items{
  margin-left: 25%;
  font-size: 16px;
  width: 40%;
  font-weight: 350;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav-items > li:hover{
  color: #494949;
  cursor: pointer;
}

#nav-items > li:active{
  color: #121212;
}

#sign-in-btn{
  margin-left: 20%;
}
.btn{
  text-align: center;
  width: 50px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  background-color: #00296B;
  color: whitesmoke;
  border-radius: 5px;
}

.btn:active{

  background-color: #011840;
}

.btn:hover{
  font-weight: 500;
  cursor: pointer;
}

.dark-mode{
  background-color: #121212;
  color: #000000;
}

/*Search */
.search-page{
  /*border: 2px solid crimson;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFAFA;
  height: 100vh;
}

.page-title{
  color: #00296B;
  font-weight: 150;
  letter-spacing: 5px;
  font-size: 38px;
  margin-top: 175px;
}