*{
  border: 0;
  margin: 0;
  font-family: Inter,sans-serif;
  text-decoration: none;
}


html{
  width: 100vw;
  height: 100vh;
  background-color: #FFFAFA;
}

nav{

  display: flex;
  align-items: center;
  flex-direction: row;
  /*border: 2px solid crimson;*/
  font-weight: 200;
  font-size: 24px;
  color: #011840;
  width: auto;
  height: 115px;
  background-color: #fbf8f8;
  padding: 0 40px;

}

#bibby-logo{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #305066;
  padding-left: 3px;
  padding-right: 10px;
}

/*#bibby-logo::first-letter{*/
/*  margin-left: 30px;*/
/*  font-weight: 800;*/
/*  font-size: 64px;*/
/*  color:#00296B;*/

/*}*/


.bibby-mark{
  width: 40px;
}

.tag-name{
  font-size: 13px;
}

#nav-items{
  /*border: 1px solid crimson;*/
  flex: 1;
  width: auto;
  font-size: 15px;
  font-weight: 375;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
  padding-right: 255px;
}

#nav-items > li:hover{
  color: #494949;
  cursor: pointer;
}

#nav-items > li:active{
  color: #121212;
}

#sign-in-btn{

}
.btn{
  text-align: center;
  width: 50px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  background-color: #00296B;
  color: whitesmoke;
  border-radius: 5px;
}

.btn:active{

  background-color: #011840;
}

.btn:hover{
  font-weight: 500;
  cursor: pointer;
}

.dark-mode{
  background-color: #121212;
  color: #000000;
}

/*Search */
.search-page{
  /*border: 2px solid crimson;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFAFA;
  width: auto;
}

.page-title{
  color: #305066;
  font-weight: 250;
  letter-spacing: 5px;
  font-size: 32px;
  margin-top: 135px;
}

a:visited{
  color: inherit;
}

#search-input{
  color: rgba(0, 41, 107, 0.78);
  text-align: left;
  font-size: 18px;
  padding: 0 90px;
  background-color: #fffafa;
  margin-top: 25px;
  width: 750px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(78, 78, 78, 0.09);
  box-shadow: rgba(0, 0, 0, 0.06) 1px 1px 5px 1px;
}



#search-input::placeholder{
  font-size: 16px;
  color: rgba(73, 73, 73, 0.37);
}

#search-input:focus{
  outline-color: rgba(0, 41, 107, 0.16);
}

.search-container{
  width: auto;
  /*border: 1px solid crimson;*/
}

.book-search-icon{
  top: 7px;
  width: 25px;
  position: relative;
  right:75px;
  opacity: 95%;
}

.book-search-icon:hover{
  opacity: 100%;
  cursor: pointer;
}

.book-search-icon:active{
  opacity: 75%;
  width: 23px;
}

.search-by-radio-options{
  margin-top: 35px;
  /*border: 1px solid crimson;*/
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
}

.search-by-label{
  font-size: 13px;
  font-weight: 350;
  margin-left:15px;
  color: rgba(0, 41, 107, 0.79);
}

.search-form{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.search-option-radio{
  accent-color: #3493d3;
  text-align: center;
  padding: 10px 25px;
  border-radius: 10px;
  /*background-color: rgba(200, 200, 200, 0.05);*/
}


.results-title{
  /*border: 2px dotted crimson;*/
  width: 90%;
  font-weight: 500;
  color: rgba(1, 24, 64, 0.75);
  font-size: 18px;

}

.search-result-container{
  box-shadow: 1px 1px 18px 1px rgba(0, 0, 0, 0.06);
  background-color: #FFFAFA;
  border-radius: 15px;
  padding: 2%;
  margin-top: 25px;
  height: 350px;
  width: 90%
}

.search-result-container > hr{
  margin: 30px auto;
  background-color: rgba(124, 151, 186, 0.1);
  width: 100%;
  height: 1px;
}

#myTable{
  width: 100%;
  height: auto;
  /*border: 1px solid crimson;*/
  /*border-collapse: collapse;*/
}

.header-row{
  text-align: left;

  height: auto;
  width: 100%;
}

.table-row{
  height: auto;
  width: 100%;
  font-weight: 300;

}

.table-row  td {
  /*border: 1px solid crimson;*/
  padding: 15px 0;
  font-size: 18px;
  color: rgba(0, 24, 56, 0.87);
}


.view-book-icon{
  width: 24px;
}

.view-book-icon:hover{
    cursor: pointer;
    opacity: 85%;
}

.view-book-icon:active{
    opacity: 65%;
    width: 22px;
}

.col-1{
  width: 100px;
  text-align: center;
}
