
/* =========================================================
   CSS Variables for Theming
   ========================================================= */
:root{
  --bibby-book-orange-color: #d18744;
  --bibby-ored-color: #f95738;
  --bibby-blue-color: #0D3B66;
    --bibby-darkblue-color: #023047;
  --bibby-yellow-color: #F4D35E;
    --bibby-lightyellow-color: #FAF0CA;


}

#span-title{
    font-weight: 1000;
    color: #E58A3E;
}

/* =========================================================
     0) Base Reset + Global Defaults
     ========================================================= */
*{
  border: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  text-decoration: none;
}

html{
  width: 100vw;
  height: 100vh;
  background-color: #FFFAFA;
}

a:visited{
  color: inherit;
}

/* =========================================================
   1) Shared Utilities / Common Components
   ========================================================= */
.btn{
  text-align: center;
  width: 50px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  background-color: #00296B;
  color: whitesmoke;
  border-radius: 5px;
}

.btn:hover{
  font-weight: 500;
  cursor: pointer;
}

.btn:active{
  background-color: #011840;
}

.dark-mode{
  background-color: #121212;
  color: #000000;
}

/* =========================================================
   2) Navigation
   ========================================================= */
nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 200;
  font-size: 24px;
  color: #011840;
  width: auto;
  height: 115px;
  background-color: #fbf8f8;
  padding: 0 40px;
}

.bibby-mark{
  width: 40px;
}

#bibby-logo{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-left: 3px;
  padding-right: 10px;
}

#bibby-logo{
  color: var(--bibby-blue-color);
}

.tag-name{
  font-size: 13px;
}

#nav-items{
  flex: 1;
  width: auto;
  font-size: 15px;
  font-weight: 375;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
  padding-right: 255px;
}

#nav-items > li:hover{
  color: #EE964B;
  cursor: pointer;
}

#nav-items > li:active{
  color: #121212;
}

#sign-in-btn{
  /* Intentionally empty for now */
  background-color: #0D3B66

}

/* =========================================================
   3) Search Page Layout + Titles
   ========================================================= */
.search-page{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFAFA;
  width: auto;
}

.page-title{
  color: #0D3B66;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 32px;
  margin-top: 110px;
}

.page-subtitle{
  color: #023047;
  font-size: 16px;
  font-weight: 350;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* =========================================================
   4) Search Form (Input + Icon + Radio Options)
   ========================================================= */
.search-container{
  width: auto;
}

.search-input-container{
  display: flex;
    justify-content: center;
    align-items: center;
  /*border: 1px solid crimson;*/
}

.search-form{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-input{
  color: #EE964B;
  text-align: left;
  font-size: 18px;
  padding: 0 90px;
  background-color: #fffafa;
  margin-top: 10px;
  width: 750px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(78, 78, 78, 0.09);
  box-shadow: 0 2px 10px rgba(13,59,102,0.06);

}

#search-input::placeholder{
  font-size: 16px;
  color: rgba(73, 73, 73, 0.55);
}

#search-input:focus{
  outline-color: whitesmoke;
  border: 1px solid #EE964B;
  box-shadow: 0 0 0 4px rgba(238,150,75,0.18);
}

.book-search-icon{
  bottom: 7px;
  width: 23px;
  position: relative;
  right: 61px;
  opacity: 80%;
}

.book-search-icon:hover{
  opacity: 95%;
  cursor: pointer;
}

.book-search-icon:active{
  opacity: 85%;
  width: 24px;
}

.search-bar-divider{
  position: relative;
  right: 85px;
  border-left: 2px solid rgba(207, 207, 207, 0.31);
  height: 40px;
  margin-top: 10px;
}

.search-by-radio-options{
  margin-top: 20px;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.search-option-radio{
  accent-color: #023047;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
}

.search-by-label{
  font-size: 12px;
  font-weight: 625;
  margin-left: 10px;
  color: #002258;
}

/* =========================================================
   5) Results Container
   ========================================================= */
.results-title{
  width: 90%;
  font-weight: 500;
  color: rgba(1, 24, 64, 0.75);
  font-size: 18px;
}

.search-result-container{
  box-shadow: 1px 1px 18px 1px rgba(0, 0, 0, 0.06);
  background-color: #FFFAFA;
  border-radius: 15px;
  padding: 2%;
  margin-top: 25px;
  height: 350px;
  width: 90%;
}

.search-result-container > hr{
  margin: 30px auto;
  background-color: rgba(124, 151, 186, 0.1);
  width: 100%;
  height: 1px;
}

/* =========================================================
   6) Results Table
   ========================================================= */
#myTable{
  width: 100%;
  height: auto;
}

.header-row{
  text-align: left;
  color: #305066;
  height: auto;
  width: 100%;
}

.table-row{
  height: auto;
  width: 100%;
  font-weight: 300;
}

.table-row td{
  padding: 15px 0;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 24, 56, 0.87);
}

.col-1{
  width: 100px;
  text-align: center;
}

tbody:nth-child(even){
  background-color: rgba(179, 179, 179, 0.05);
}

/* =========================================================
   7) Icons (Table Actions)
   ========================================================= */
.view-book-icon{

  color: #EE964B;
  width: 24px;
}

.view-book-icon:hover{
  cursor: pointer;
  opacity: 85%;
  color: #df9729;
}

.view-book-icon:active{
  opacity: 65%;
  color: #ac6f3c;
  width: 22px;
}

.hide{
    display: none;
}

/* =========================================================
   8) Archived / Notes
   ========================================================= */
/*#bibby-logo::first-letter{
  margin-left: 30px;
  font-weight: 800;
  font-size: 64px;
  color:#00296B;
}*/

#book-stack-icon{
  position: relative;
  top: 4px;
  width: 33px;
  margin-left: 1px;
}

.orange-hover{
    color: var(--bibby-book-orange-color);
}
