*{
  border: 0;
  margin: 0;
  font-family: Inter,sans-serif;
}

html{
  height: 100vh;
  width: 100vw;

}

nav{
  border: 2px solid crimson;
  font-weight: 200;
  font-size: 24px;
  color: black;
  width: 100%;
  height: 115px;
  background-color: #FCFCFC;
  letter-spacing: 4px;
}
nav::first-letter{
  font-weight: 800;
  font-size: 64px;
  color:#00296B;

}

.dark-mode{
  background-color: #121212;
  color: whitesmoke;
}